.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #ff7f50;
    /* Orange background */
    color: #ffffff;
    /* White text */
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff7f50;
}

.styled-table tbody tr:hover {
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 0.4em;

}

::-webkit-scrollbar-track {
    background-color: transparent;
    background: darkblue;
}

::-webkit-scrollbar-thumb {
    background-color: orange;

}

.tableView {
    background-color: #1a1a2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.table th,
.table td {
    vertical-align: middle;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-warning {
    background-color: #ffc107;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn:hover {
    opacity: 0.9;
}

.pagination .page-link {
    border-radius: 50%;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-link:hover {
    background-color: #ffc107;
    color: #000;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.pagination .page-item.disabled .page-link {
    cursor: not-allowed;
    background-color: #6c757d;
    color: #fff;
}